@model IEnumerable<erudite.ViewModel.AreaInstitute>
@{
    Layout = null;
}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>

        </title>
        <link rel="stylesheet" href="~/Content/Teachers/teachingCategory.css">
        <link rel="stylesheet" href="~/Content/Teachers/institutesLocation.css"/>
    </head>
    <body>
        <div class="container">
            <nav></nav>
            <div id='pointsAreas' style="width:50%;" onload="createAreas()">
                @foreach (var value in Model)
                {
                    <a style="text-decoration:none;" href="@Url.Action("InstituteList","TeacherApplication")/@value.area.Area1" id="@value.area.Area1">
                        <div id="@value.area.Area1" class="areaContainer">
                            <h1>
                                @value.area.Area1
                            </h1>
                            <p> No. of institutes available:   @value.noofInstitute  </p>
                        </div>
                    </a>
                }
            </div>
            <div id="googleMap" style="float: right; position: absolute; bottom: 10vh; right: 7%; width: 35%; height: 40vh; border:1px solid grey; z-index:1;"></div>
        </div>
        <script src="~/Scripts/points.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAl1fwcfBsZ4qvYjbjYQa-hqCXCAVNCnSA&callback=myMap"></script>

    </body>
    </html>